
.anchor-pane {
    -fx-background-color: #C8D8E7;
}


.menu-bar {
    -fx-background-color: #256279;
    -fx-text-fill: white;
}


.menu-item {
    -fx-text-fill: white;
}


.text {
    -fx-fill: black;
    -fx-font-size: 14px;
}


.text.bold {
    -fx-font-weight: bold;
    -fx-fill: #224f75

}


.text.summary {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}


.text.footer {
    -fx-font-size: 10px;
    -fx-fill: gray;
}